In [1]:
import warnings
warnings.filterwarnings('ignore')

#import sidetable as stb
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


print('numpy version : ',np.__version__)
print('pandas version : ',pd.__version__)
print('seaborn version : ',sns.__version__)

numpy version :  1.21.5
pandas version :  1.4.2
seaborn version :  0.11.2

## This Python 3 environment comes with many helpful analytics libraries installed
## It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
## For example, here's several helpful packages to load

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

## Input data files are available in the read-only "../input/" directory
## For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

## Load and Describe Data

## Load Data

In [3]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

## load dataset

In [5]:
df = pd.read_excel('youtube_statistics.xlsx')

In [7]:
df.head()

,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,description,No_tags,desc_len,len_title,publish_date
0,2017-11-14,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,12:20:39,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...,15,920,81,2017-11-12
1,2017-11-14,"पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...",HJ NEWS,25,05:43:56,"पीरियड्स के समय|""पेट पर पति करता ऐसा""|""देखकर द...",590101,735,904,0,True,False,False,"पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...",19,2232,58,2017-11-13
2,2017-11-14,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,15:48:08,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...,14,482,58,2017-11-12
3,2017-11-14,Eruma Saani | Tamil vs English,Eruma Saani,23,07:08:48,"Eruma Saani|""Tamil Comedy Videos""|""Films""|""Mov...",1242680,70353,1624,2684,False,False,False,This video showcases the difference between pe...,20,263,30,2017-11-12
4,2017-11-14,why Samantha became EMOTIONAL @ Samantha naga ...,Filmylooks,24,01:14:16,"Filmylooks|""latest news""|""telugu movies""|""telu...",464015,492,293,66,False,False,False,why Samantha became EMOTIONAL @ Samantha naga ...,11,753,88,2017-11-13

## show five random data

In [8]:
df.sample(5)

,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,description,No_tags,desc_len,len_title,publish_date
27686,2018-04-25,मालिका मसाला । चला हवा येऊ द्या,ZEE 24 TAAS,25,09:30:33,"zee24taas|""marathi video""|""marathi news""|""Brea...",159647,998,78,12,False,False,False,Malika Masala | Chala Hawa Yeu Dya,18,34,31,2018-04-24
17329,2018-02-18,"सीरीज हारकर कैलिस, पोलाक का दिमाग खराब.. कह दी...",FLAME MEDIA,22,08:18:13,"India vs South Africa|""shaun-pollock-all-prais...",287920,1395,278,176,False,False,False,"सीरीज हारकर कैलिस, पोलाक का दिमाग खराब.. कह दी...",20,60,60,2018-02-16
10462,2018-01-09,Bengali Carryminati? The Bong Guy First QnA Vi...,The Bong Guy,23,13:08:23,"the bong guy|""e kemon cinema""|""e kemon gaan""|""...",179545,23814,479,2956,False,False,False,Hey guys my name is The Bong Guy\nThis is my f...,19,315,88,2018-01-06
10512,2018-01-09,Teasing girls with Bollywood songs part 3 || ...,Kiraak Hyderabadiz,24,09:30:03,"teasing|""girls""|""bollywood""|""songs""|""part 3""|""...",133511,8072,384,939,False,False,False,"You loved part one and part two, here is teasi...",14,153,79,2018-01-06
17154,2018-02-17,Mr. & Mrs. E02 | Biwi Ko Gussa Kyun Aata Hai |...,Girliyapa,22,14:21:02,"jokes|""bosch""|""dishwasher""|""architect""|""wife""|...",730080,25018,681,1065,False,False,False,"For a couple, a dinner party seems like an inn...",42,2082,82,2018-02-13

## Checking Columns and Missing Values With df.info()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36791 entries, 0 to 36790
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   trending_date           36791 non-null  object
 1   title                   36791 non-null  object
 2   channel_title           36791 non-null  object
 3   category_id             36791 non-null  int64
 4   publish_time            36791 non-null  object
 5   tags                    36791 non-null  object
 6   views                   36791 non-null  int64
 7   likes                   36791 non-null  int64
 8   dislikes                36791 non-null  int64
 9   comment_count           36791 non-null  int64
 10  comments_disabled       36791 non-null  bool
 11  ratings_disabled        36791 non-null  bool
 12  video_error_or_removed  36791 non-null  bool
 13  description             36746 non-null  object
 14  No_tags                 36791 non-null  int64
 15  desc_len                36791 non-null  int64
 16  len_title               36791 non-null  int64
 17  publish_date            36791 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), int64(8), object(6)
memory usage: 4.3+ MB

## Numeric

In [14]:
numeric = df.select_dtypes(include=[np.number]).columns.tolist()
numeric

['category_id',
 'views',
 'likes',
 'dislikes',
 'comment_count',
 'No_tags',
 'desc_len',
 'len_title']

## Categorical

In [15]:
categorical = df.select_dtypes(exclude=[np.number]).columns.tolist()
categorical

['trending_date',
 'title',
 'channel_title',
 'publish_time',
 'tags',
 'comments_disabled',
 'ratings_disabled',
 'video_error_or_removed',
 'description',
 'publish_date']

## Sampling to Understand Data With df.sample()

In [16]:
df.sample(5)

,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,description,No_tags,desc_len,len_title,publish_date
24314,2018-04-01,Anchor Suma Strong Punch to Mahesh Vitta @ Kri...,Vanitha Tv,24,14:59:24,"Anchor Suma Strong Punch to Mahesh Vitta|""kris...",44630,331,23,13,False,False,False,Anchor Suma Strong Punch to Mahesh Vitta @ Kri...,15,530,89,2018-03-31
31846,2018-05-18,6 DIN LADKI IN | Impress Any Girl In 6 Days | ...,So Effin Cray,24,07:38:20,"so effin cray|""so effin cray latest""|""impressi...",271523,24576,577,2147,False,False,False,"Written,Directed and Produced By Vatsl SethCo-...",17,778,59,2018-05-17
8605,2017-12-30,High Court (Full HD) | Komleen Gill Ft. Guri ...,Jass Records,10,04:36:14,"Jass Records|""New punjabi songs 2017""|""Latest ...",504558,6836,173,160,False,False,False,High Court (Full HD) | Komleen Gill Ft. Guri ...,19,1768,87,2017-12-28
20633,2018-03-10,CURRENT AFFAIRS | THE HINDU | 9th March 2018 |...,Adda247 :Official Channel of BankersAdda & SSC...,27,03:25:59,"current affairs 2018|""current affairs march 20...",30236,3395,39,187,False,False,False,CURRENT AFFAIRS | THE HINDU | 9th March 2018 |...,22,1436,93,2018-03-09
22357,2018-03-20,Shekar Master Get Emotional in Facebook Live |...,Filmylooks,24,08:15:28,"Filmylooks|""latest news""|""telugu movies""|""Telu...",113423,880,73,98,False,False,False,Dhee 10 Shekar Master Get Emotional in Faceboo...,19,710,98,2018-03-19

## Statistical summary dengan df.describe()

In [17]:
df[numeric].describe().apply(lambda x: x.apply('{0:.5f}'.format))

,category_id,views,likes,dislikes,comment_count,No_tags,desc_len,len_title
count,36791.00000,36791.00000,36791.00000,36791.00000,36791.00000,36791.00000,36791.00000,36791.00000
mean,21.55217,1071490.25898,27450.69368,1685.36340,2714.02204,18.93846,923.07912,70.60936
std,6.58672,3207149.04818,97831.29478,16197.31684,14978.11433,9.84353,815.03887,22.40917
min,1.00000,4024.00000,0.00000,0.00000,0.00000,1.00000,3.00000,5.00000
25%,23.00000,125604.00000,879.00000,109.00000,83.00000,12.00000,368.00000,53.00000
50%,24.00000,307836.00000,3126.00000,331.00000,336.00000,19.00000,677.00000,74.00000
75%,24.00000,806631.50000,14095.00000,1032.00000,1314.50000,25.00000,1237.00000,91.00000
max,43.00000,125432237.00000,2912710.00000,1545017.00000,827755.00000,72.00000,5136.00000,100.00000

In [18]:
df[categorical].describe()

,trending_date,title,channel_title,publish_time,tags,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_date
count,36791,36791,36791,36791,36791,36791,36791,36791,36746,36791
unique,205,16431,1390,12375,12463,2,2,2,13979,219
top,2017-12-23,Mission: Impossible - Fallout (2018) - Officia...,VikatanTV,04:30:00,[none],False,False,False,Subscribers Link: http://bit.ly/2qb69dZ\n\nCon...,2018-05-17 00:00:00
freq,199,19,284,333,1120,35611,36034,36780,166,318
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-27 00:00:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-06-13 00:00:00

# Data Pre-Processing

## Initialize df_clean

In [19]:
df_clean = df.copy()

In [20]:
data_missing_value = df_clean.isnull().sum().reset_index()
data_missing_value.columns = ['feature','missing_value']
data_missing_value['percentage'] = round((data_missing_value['missing_value']/len(df_clean))*100,2)
data_missing_value = data_missing_value.sort_values('percentage', ascending=False).reset_index(drop=True)
data_missing_value = data_missing_value[data_missing_value['percentage']>0]
data_missing_value

       feature  missing_value  percentage
0  description             45        0.12

In [21]:
col_missing_value = data_missing_value['feature'].tolist() 
df_clean[col_missing_value].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36791 entries, 0 to 36790
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  36746 non-null  object
dtypes: object(1)
memory usage: 287.6+ KB

In [ ]:
## Handle Missing Value