In [1]:
import warnings
warnings.filterwarnings('ignore')

#import sidetable as stb
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


print('numpy version : ',np.__version__)
print('pandas version : ',pd.__version__)
print('seaborn version : ',sns.__version__)

numpy version :  1.21.5
pandas version :  1.4.2
seaborn version :  0.11.2

## This Python 3 environment comes with many helpful analytics libraries installed
## It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
## For example, here's several helpful packages to load

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

## Input data files are available in the read-only "../input/" directory
## For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

## Load and Describe Data

## Load Data

In [3]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

## load dataset

In [4]:
df = pd.read_excel('youtube_statistics.xlsx')

In [5]:
df.head()

,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,description,No_tags,desc_len,len_title,publish_date
0,2017-11-14,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,12:20:39,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...,15,920,81,2017-11-12
1,2017-11-14,"पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...",HJ NEWS,25,05:43:56,"पीरियड्स के समय|""पेट पर पति करता ऐसा""|""देखकर द...",590101,735,904,0,True,False,False,"पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...",19,2232,58,2017-11-13
2,2017-11-14,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,15:48:08,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...,14,482,58,2017-11-12
3,2017-11-14,Eruma Saani | Tamil vs English,Eruma Saani,23,07:08:48,"Eruma Saani|""Tamil Comedy Videos""|""Films""|""Mov...",1242680,70353,1624,2684,False,False,False,This video showcases the difference between pe...,20,263,30,2017-11-12
4,2017-11-14,why Samantha became EMOTIONAL @ Samantha naga ...,Filmylooks,24,01:14:16,"Filmylooks|""latest news""|""telugu movies""|""telu...",464015,492,293,66,False,False,False,why Samantha became EMOTIONAL @ Samantha naga ...,11,753,88,2017-11-13

## show five random data

In [6]:
df.sample(5)

,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,description,No_tags,desc_len,len_title,publish_date
34525,2018-06-02,Rajeev Masand review of Veere Di Wedding,Rajeev Masand,22,11:30:09,"Rajeev Masand|""review""|""Veere Di Wedding""|""Son...",137619,1302,192,398,False,False,False,CNN News18 film critic Rajeev Masand reviews t...,16,253,40,2018-06-01
30770,2018-05-12,What I DO vs What MUM SEE | Mother's Day | Har...,Harshdeep Ahuja,24,06:54:05,"harshdeep ahuja|""harshdeep ahuja vines""|""harsh...",398007,30805,849,2132,False,False,False,What I DO vs What MUM SEE | Mother's Day | Har...,21,548,58,2018-05-10
30105,2018-05-08,Subramanian Swamy VS Prakash Raj #KarnatakaNow...,TIMES NOW,25,13:53:13,"Subramanian Swamy|""Subramanian Swamy vs prakas...",1203112,14539,1452,12126,False,False,False,WATCH | PM Modi's 'Bharat Ki Baat Sabke Saath'...,24,659,68,2018-05-04
32685,2018-05-22,Honest College Admissions | my village show co...,My Village Show,23,10:37:48,"Honest College Admissions|""college""|""school""|""...",350799,8823,949,1404,False,False,False,follow us on social media :my village show Fac...,17,708,50,2018-05-20
34491,2018-06-02,Restaurant Sutiyapa | Ashish Chanchlani,ashish chanchlani vines,23,13:32:59,ashish chanchlani ashish chanchlani vines ashi...,6014466,388402,19293,30948,False,False,False,Presenting to youThe types of people you find ...,14,586,39,2018-05-30

## Checking Columns and Missing Values With df.info()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36791 entries, 0 to 36790
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   trending_date           36791 non-null  object
 1   title                   36791 non-null  object
 2   channel_title           36791 non-null  object
 3   category_id             36791 non-null  int64
 4   publish_time            36791 non-null  object
 5   tags                    36791 non-null  object
 6   views                   36791 non-null  int64
 7   likes                   36791 non-null  int64
 8   dislikes                36791 non-null  int64
 9   comment_count           36791 non-null  int64
 10  comments_disabled       36791 non-null  bool
 11  ratings_disabled        36791 non-null  bool
 12  video_error_or_removed  36791 non-null  bool
 13  description             36746 non-null  object
 14  No_tags                 36791 non-null  int64
 15  desc_len                36791 non-null  int64
 16  len_title               36791 non-null  int64
 17  publish_date            36791 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), int64(8), object(6)
memory usage: 4.3+ MB

## Numeric

In [8]:
numeric = df.select_dtypes(include=[np.number]).columns.tolist()
numeric

['category_id',
 'views',
 'likes',
 'dislikes',
 'comment_count',
 'No_tags',
 'desc_len',
 'len_title']

## Categorical

In [9]:
categorical = df.select_dtypes(exclude=[np.number]).columns.tolist()
categorical

['trending_date',
 'title',
 'channel_title',
 'publish_time',
 'tags',
 'comments_disabled',
 'ratings_disabled',
 'video_error_or_removed',
 'description',
 'publish_date']

## Sampling to Understand Data With df.sample()

In [10]:
df.sample(5)

,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,description,No_tags,desc_len,len_title,publish_date
33146,2018-05-25,8:00 AM - CURRENT AFFAIRS SHOW 24 May | RRB AL...,WiFiStudy,27,03:02:35,"daily current affairs|""latest current affairs""...",50916,4051,56,323,False,False,False,8:00 AM - CURRENT AFFAIRS SHOW 24 May | RRB AL...,19,1635,93,2018-05-24
7378,2017-12-23,TICOLA: SALESMAN OF THE YEAR | RishhSome,Rishhsome,23,14:30:00,"rishhsome|""vines""|""rishabh rana""|""rishabh""|""fu...",774556,56452,3097,2512,False,False,False,Watch my latest video!\n\nFollow my social med...,8,212,40,2017-12-19
16324,2018-02-13,ఒక్క 1500/- పోస్ట్ ఆఫీస్ లోని ఈ పథకంలో పెట్టండ...,Political Line,25,06:42:19,"fixed deposit|""money earnings""|""investment""|""s...",448964,4541,439,0,True,False,False,ఒక్క 1500/- పోస్ట్ ఆఫీస్ లోని ఈ పథకంలో పెట్టండ...,24,67,67,2018-02-12
18245,2018-02-24,25 EASY TRICKS YOU WON'T BELIEVE ARE REAL,5-Minute Crafts,26,08:30:00,"5-Minute Crafts|""DIY""|""Do it yourself""|""crafts...",2175382,22019,1843,1331,False,False,False,Wanna be the next Houdini or Copperfield? Here...,47,852,41,2018-02-23
24934,2018-04-04,Main Sohni - Kulbir Jhinjer (Full Song) Latest...,VehliJantaRecords,10,05:06:33,[none],249750,5234,135,256,False,False,False,Vehli Janta Records & Manpreet Johal Presentin...,1,659,87,2018-04-03

## Statistical summary dengan df.describe()

In [11]:
df[numeric].describe().apply(lambda x: x.apply('{0:.5f}'.format))

,category_id,views,likes,dislikes,comment_count,No_tags,desc_len,len_title
count,36791.00000,36791.00000,36791.00000,36791.00000,36791.00000,36791.00000,36791.00000,36791.00000
mean,21.55217,1071490.25898,27450.69368,1685.36340,2714.02204,18.93846,923.07912,70.60936
std,6.58672,3207149.04818,97831.29478,16197.31684,14978.11433,9.84353,815.03887,22.40917
min,1.00000,4024.00000,0.00000,0.00000,0.00000,1.00000,3.00000,5.00000
25%,23.00000,125604.00000,879.00000,109.00000,83.00000,12.00000,368.00000,53.00000
50%,24.00000,307836.00000,3126.00000,331.00000,336.00000,19.00000,677.00000,74.00000
75%,24.00000,806631.50000,14095.00000,1032.00000,1314.50000,25.00000,1237.00000,91.00000
max,43.00000,125432237.00000,2912710.00000,1545017.00000,827755.00000,72.00000,5136.00000,100.00000

In [12]:
df[categorical].describe()

,trending_date,title,channel_title,publish_time,tags,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_date
count,36791,36791,36791,36791,36791,36791,36791,36791,36746,36791
unique,205,16431,1390,12375,12463,2,2,2,13979,219
top,2017-12-23,Mission: Impossible - Fallout (2018) - Officia...,VikatanTV,04:30:00,[none],False,False,False,Subscribers Link: http://bit.ly/2qb69dZ\n\nCon...,2018-05-17 00:00:00
freq,199,19,284,333,1120,35611,36034,36780,166,318
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-27 00:00:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-06-13 00:00:00

# Data Pre-Processing

## Initialize df_clean

In [13]:
df_clean = df.copy()

In [14]:
data_missing_value = df_clean.isnull().sum().reset_index()
data_missing_value.columns = ['feature','missing_value']
data_missing_value['percentage'] = round((data_missing_value['missing_value']/len(df_clean))*100,2)
data_missing_value = data_missing_value.sort_values('percentage', ascending=False).reset_index(drop=True)
data_missing_value = data_missing_value[data_missing_value['percentage']>0]
data_missing_value

       feature  missing_value  percentage
0  description             45        0.12

In [15]:
col_missing_value = data_missing_value['feature'].tolist() 
df_clean[col_missing_value].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36791 entries, 0 to 36790
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  36746 non-null  object
dtypes: object(1)
memory usage: 287.6+ KB

## Handle Missing Value

In [16]:
df_clean.dropna(subset=['description'], inplace=True)

In [17]:
data_missing_value = df_clean.isnull().sum().reset_index()
data_missing_value.columns = ['feature','missing_value']
data_missing_value

                   feature  missing_value
0            trending_date              0
1                    title              0
2            channel_title              0
3              category_id              0
4             publish_time              0
5                     tags              0
6                    views              0
7                    likes              0
8                 dislikes              0
9            comment_count              0
10       comments_disabled              0
11        ratings_disabled              0
12  video_error_or_removed              0
13             description              0
14                 No_tags              0
15                desc_len              0
16               len_title              0
17            publish_date              0

## Adjust Data Type

In [18]:
# Changing trending_date to datetime type: 
df_clean['trending_date'] = pd.to_datetime(df_clean['trending_date'])

In [19]:
# Changing publish_time to datetime type: 
df_clean['publish_time'] = pd.to_datetime(df_clean['publish_time'])

In [20]:
df_clean["comments_disabled"] = df_clean["comments_disabled"].astype(int)

In [21]:
df_clean["ratings_disabled"] = df_clean["ratings_disabled"].astype(int)

In [22]:
df_clean["video_error_or_removed"] = df_clean["video_error_or_removed"].astype(int)

In [23]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36746 entries, 0 to 36790
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   trending_date           36746 non-null  datetime64[ns]
 1   title                   36746 non-null  object
 2   channel_title           36746 non-null  object
 3   category_id             36746 non-null  int64
 4   publish_time            36746 non-null  datetime64[ns]
 5   tags                    36746 non-null  object
 6   views                   36746 non-null  int64
 7   likes                   36746 non-null  int64
 8   dislikes                36746 non-null  int64
 9   comment_count           36746 non-null  int64
 10  comments_disabled       36746 non-null  int32
 11  ratings_disabled        36746 non-null  int32
 12  video_error_or_removed  36746 non-null  int32
 13  description             36746 non-null  object
 14  No_tags                 36746 non-null  int64
 15  desc_len                36746 non-null  int64
 16  len_title               36746 non-null  int64
 17  publish_date            36746 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int32(3), int64(8), object(4)
memory usage: 4.9+ MB

## Feature Engineering

In [24]:
weekend = ['Saturday', 'Sunday']

## Publish Day Type

In [25]:
df_clean['publish_day'] = df_clean['publish_date'].dt.day_name()

In [26]:
df_clean['publish_daytype'] = df_clean['publish_day'].apply(lambda x: 'Weekend' if x in weekend else 'Weekday')

## Publish Trending Interval (Day)

In [27]:
df_clean['publish_trending_interval'] = (df_clean['trending_date'] - df_clean['publish_date']).dt.days

In [28]:
df_clean.sample(5)

,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,...,ratings_disabled,video_error_or_removed,description,No_tags,desc_len,len_title,publish_date,publish_day,publish_daytype,publish_trending_interval
34766,2018-06-03,50 Shades of Kaala | Racism in a Parallel Univ...,Krazy Khanna,24,2023-02-18 15:21:44,"marriage broker|""matrimonial websites""|""bharat...",84863,2579,148,258,...,0,0,In a parallel universe where dark is treated s...,20,637,79,2018-06-01,Friday,Weekday,2
13078,2018-01-25,குடியரசு தின சிறப்பு | டிக்:டிக்:டிக் With Ja...,Vijay Television,24,2023-02-18 13:19:31,"Jayam Ravi|""Aaron""|""Aziz""|""Nivetha Pethuraj""|""...",161550,1621,45,39,...,0,0,குடியரசு தின சிறப்பு | டிக்:டிக்:டிக் With Jay...,18,290,64,2018-01-24,Wednesday,Weekday,1
267,2017-11-15,ఫంక్షన్ చివరలో రానా సమంత ని ఎలా ఆడుకున్నాడో చూ...,News Mantra,24,2023-02-18 17:13:39,ఫంక్షన్ చివరలో రానా సమంత ని ఎలా ఆడుకున్నాడో చూ...,254300,233,201,6,...,0,0,ఫంక్షన్ చివరలో రానా సమంత ని ఎలా ఆడుకున్నాడో చూ...,16,564,100,2017-11-12,Sunday,Weekend,3
7165,2017-12-22,മാസ്റ്റർപീസ് കണ്ടിറങ്ങിയ പൃഥ്വിരാജ് പറഞ്ഞത് ക...,a2z Media,24,2023-02-18 08:41:55,"film news|""movie news""|""movie gossips""|""mollyw...",193653,1106,218,27,...,0,0,മാസ്റ്റർപീസ് കണ്ടിറങ്ങിയ പൃഥ്വിരാജ് പറഞ്ഞത് ക...,16,388,94,2017-12-21,Thursday,Weekday,1
10915,2018-01-14,Sarthi K : Hikk Ch Vajida | New Punjabi Song 2...,SagaHits,10,2023-02-18 13:05:42,"lohri yaaran di|""lohri songs""|""lohri 2018""|""lo...",343068,3990,69,132,...,0,0,Enjoy and celebrate the Lohri evening with new...,23,981,98,2018-01-13,Saturday,Weekend,1

In [29]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36746 entries, 0 to 36790
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   trending_date              36746 non-null  datetime64[ns]
 1   title                      36746 non-null  object
 2   channel_title              36746 non-null  object
 3   category_id                36746 non-null  int64
 4   publish_time               36746 non-null  datetime64[ns]
 5   tags                       36746 non-null  object
 6   views                      36746 non-null  int64
 7   likes                      36746 non-null  int64
 8   dislikes                   36746 non-null  int64
 9   comment_count              36746 non-null  int64
 10  comments_disabled          36746 non-null  int32
 11  ratings_disabled           36746 non-null  int32
 12  video_error_or_removed     36746 non-null  int32
 13  description                36746 non-null  object
 14  No_tags                    36746 non-null  int64
 15  desc_len                   36746 non-null  int64
 16  len_title                  36746 non-null  int64
 17  publish_date               36746 non-null  datetime64[ns]
 18  publish_day                36746 non-null  object
 19  publish_daytype            36746 non-null  object
 20  publish_trending_interval  36746 non-null  int64
dtypes: datetime64[ns](3), int32(3), int64(9), object(6)
memory usage: 5.7+ MB

## Duplicate Values

In [30]:
df_clean.duplicated().sum()

4228

In [31]:
print(str((df_clean.duplicated().sum() / len(df_clean)) * 100) + ' %')

11.506014260055517 %

In [32]:
#dropping duplicate data
df_clean = df_clean.drop_duplicates()

In [33]:
print('Total Rows', df_clean.shape[0], ', Total Features', df_clean.shape[1],'\n')

Total Rows 32518 , Total Features 21

## Remove Irrelevant Columns

In [34]:
df_clean = df_clean.drop(['publish_date','publish_time','description','tags','title','channel_title','trending_date'], axis=1)

In [35]:
df_clean = df_clean.drop(['publish_day'], axis=1)

In [36]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32518 entries, 0 to 36769
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   category_id                32518 non-null  int64
 1   views                      32518 non-null  int64
 2   likes                      32518 non-null  int64
 3   dislikes                   32518 non-null  int64
 4   comment_count              32518 non-null  int64
 5   comments_disabled          32518 non-null  int32
 6   ratings_disabled           32518 non-null  int32
 7   video_error_or_removed     32518 non-null  int32
 8   No_tags                    32518 non-null  int64
 9   desc_len                   32518 non-null  int64
 10  len_title                  32518 non-null  int64
 11  publish_daytype            32518 non-null  object
 12  publish_trending_interval  32518 non-null  int64
dtypes: int32(3), int64(9), object(1)
memory usage: 3.1+ MB

In [37]:
print('Total Rows', df_clean.shape[0], ', Total Features', df_clean.shape[1],'\n')

Total Rows 32518 , Total Features 13

## Feature Engineering - Categorical

In [38]:
encode_cat = ['publish_daytype']

In [39]:
for cat in encode_cat:
    onehots = pd.get_dummies(df_clean[cat], prefix=cat)
    df_clean = df_clean.join(onehots)

In [40]:
df_clean = df_clean.drop(['publish_daytype'], axis=1)

In [41]:
df_clean

,category_id,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,No_tags,desc_len,len_title,publish_trending_interval,publish_daytype_Weekday,publish_daytype_Weekend
0,1,1096327,33966,798,882,0,0,0,15,920,81,2,0,1
1,25,590101,735,904,0,1,0,0,19,2232,58,1,1,0
2,24,473988,2011,243,149,0,0,0,14,482,58,2,0,1
3,23,1242680,70353,1624,2684,0,0,0,20,263,30,2,0,1
4,24,464015,492,293,66,0,0,0,11,753,88,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36739,24,2675706,96485,4181,6634,0,0,0,37,1398,72,6,1,0
36740,17,770873,13316,552,1175,0,0,0,31,320,87,1,1,0
36741,1,27696924,468472,60025,48740,0,0,0,18,1491,76,3,1,0
36758,23,1214423,85601,4677,7628,0,0,0,13,441,32,3,1,0
36769,23,132055,11170,393,2107,0,0,0,24,1207,67,1,1,0

## Redefine Numeric and Categorical

In [44]:
#Numeric
numeric = df_clean.select_dtypes(include=[np.number]).columns.tolist()
numeric

['category_id',
 'views',
 'likes',
 'dislikes',
 'comment_count',
 'comments_disabled',
 'ratings_disabled',
 'video_error_or_removed',
 'No_tags',
 'desc_len',
 'len_title',
 'publish_trending_interval',
 'publish_daytype_Weekday',
 'publish_daytype_Weekend']

In [47]:
categorical = df_clean.select_dtypes(exclude=[np.number]).columns.tolist()
categorical

[]